/* style.css */
body {
    background-color: black;
    color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    position: relative;
}
.hidden { display: none; }

.content-wrapper {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 60%;
}

.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.glitch {
    font-size: 48px;
    text-shadow: 0 0 5px red, 0 0 10px yellow;
    animation: glitch 1s infinite;
}
@keyframes glitch {
    0% { text-shadow: 0 0 5px red, 0 0 10px yellow; }
    50% { text-shadow: 0 0 5px green, 0 0 10px blue; }
    100% { text-shadow: 0 0 5px red, 0 0 10px yellow; }
}

/*#matrix-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    z-index: -2;
    opacity: 0.7;
}
*/
#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Помещает анимацию за остальной контент */
    opacity: 0.5; /* Делает фон менее ярким */
}


button {
    background: black;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.1s, background 0.3s;
}
button:active {
    transform: scale(0.7);
    background: darkgreen;
}
button.error {
    background: red;
    border-color: darkred;
    transform: scale(1.8);
}

@keyframes highlight {
    0% {
        color: green; /* Начальный цвет */
        font-size: 16px; /* Начальный размер */
    }
    100% {
        color: #32CD32; /* Конечный цвет для "Цезарь" */
        font-size: 30px; /* Конечный размер */
        font-weight: bold; /* Жирный шрифт */

    }
}

@keyframes highlight-decrypt {
    0% {
        color: green; /* Начальный цвет */
        font-size: 16px; /* Начальный размер */
    }
    100% {
        color: #00FF00; /* Конечный цвет для "Дешифровать" */
        font-size: 30px; /* Конечный размер */
        font-weight: bold; /* Жирный шрифт */
    }
}

#caesar-word {
    /* Анимация не запускается сразу */
}

#decrypt-word {
    /* Анимация не запускается сразу */
}